{% extends 'hrm/main.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h1>Register</h1>
{% if messages %}
    {% for message in messages %}
       <div class="alert alertFade alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> 
    {% endfor %}
{% endif %}
<form method='POST' action="">
    {% csrf_token %}
    {% crispy form form.helper %}
    <!-- <div class="form-floating mb-3">
      <input type="text" class="form-control" id="username" name="username" placeholder="Username">
      <label for="username">{{form.username.label}}</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@name.com">
      <label for="email">{{form.email.label}}</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
      <label for="password1">{{form.password1.label}}</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password2" name="password2" placeholder="Password">
      <label for="password1">{{form.password2.label}}</label>
    </div>
    <div class="form-text">
    Already have an acocunt? <a href="{% url 'login'%}">Login</a>
    </div>
  </div>
  {{ form.errors }}
  <button type="submit" class="btn btn-primary">Submit</button> -->
</form>

{% endblock %}